
p{
	font-family: 'Roboto Condensed', sans-serif;
	line-height:normal;
	font-size: 125%
}

h1{
	font-family: 'Grand National Italic', Arial, serif;
	font-weight: 400; 
}

h2{
	font-family: 'Grand National Condensed Italic', Arial, serif;
	font-weight: 500;
	font-size: 36px;
	line-height:normal;
	color: #ed1c24;
}

h3{
	font-family: 'Roboto Condensed', sans-serif;
	line-height:normal;

}

h4{
	font-family: 'Roboto Condensed', sans-serif;
	font-weight: 500;
	font-size: 20px;
	line-height:normal;
	
}
h5{
	font-family: 'Roboto Condensed', sans-serif;
	font-weight: 500;
	font-size: 12px;
	line-height:normal;
}
#contentWrapper{
	line-height:normal;
}

#title {
	font-weight: 400; 
	font-size:70px;
}
#title li.blurb{
	font-weight: 700; 
	font-size:22.5px;
	color: #CCCCCC;
}
.contactName {
	font-family: 'Roboto Condensed', sans-serif;
	line-height:normal;
	font-size:125%;
}

.contactPhone {
	font-family: 'Roboto Condensed', sans-serif;
	line-height:normal;
}

.contactEmail {
	font-family: 'Roboto Condensed', sans-serif;
	line-height:normal;
	font-variant:small-caps;
	font-size: 125%
}
#contactError {
	font-style: italic;
	color: #9F1804;
	line-height:normal;
}

#contactForm .star{
	color: #9F1804;
}

@font-face {
    font-family: 'Grand National Italic';
    src: url(../fonts/grandnationalital.woff);
}

@font-face {
    font-family: 'Grand National Condensed Italic';
    src: url(../fonts/grandnationalcondital.woff);
}

@media screen and (max-width: 799px) {
	#title {
	padding-left:10px;
	font-size:50px;
}
#title li.blurb{
	font-size:16px;
}	
	
}
/*	
  
  
 */